@import url('https://fonts.googleapis.com/css2?family=Calibri');

* {
  font-family: Calibri;
}

/* .box { margin-bottom: 50; } */

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
  width: 323px;
}
/*
.col-sm-12.offset-md-2.col-sm-offset-2 {
  transform: translate(0%, 500%);
}
*/

.h3 {
  line-height: 1.1;
}