.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
*.json
*.html
dashboards/*/data
dashboards/*/Data
dashboards/*/rsconnect/
email_creds_staffing
images/
rsconnect/
tokens/
MondayR.httr-oauth
.httr-oauth
.secrets
data/*
!data/*.rda
!data/*.csv
data_scripts/monday.com/env/
read_sites_test